@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background-color: #535353;
        margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto';
}

.form a{
    color: brown;
}


.header_menu{
    width: 100%;
    height: 40px;
    background-position: relative;
    padding: 0px;
    background-color: black;
}

.menu_content{
    width: 1200px;
    height: 0px;
    margin: auto;
    background-color: red;
    background-position: relative;
}

.menu_items{
    background-color: black;
    color: white;
    float: left;
    font-size: 17px;
    width: 5600px;
    height: 40px;
    padding-left: 10px;
    vertical-align: baseline;
    font: inherit;
}

.menu_items a{
    font-size: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu_items a:hover{
    background-color: #5e2323;
    height: 30px;
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.activ{
    background-color: #5e2323;
    height: 30px;
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.banner_bg{
    background-color:  #a3a3a3;
    width: 100%;
    height: 220px;
}

.banner_itself{
/*    background-color: red;*/
    width: 1200px;
    height: 220px;
    margin: auto;
}

.container_home{
    background: url(../img/container.png);
    width: 1200px;
    height: 513px;
    margin: auto;
    margin-top: 20px;
}

.container{
    background-color: #d4d4d4;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
}

.login{
    background-color: white;
    position: relative;
    float: right;
    top: 125px;
    right: 20px;
}

.login_items{
    background-color: white;
    width: 300px;
    height: 70px;
    float: right;
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-top: 4px;
}

.mini_menu a{
    font-size: 12px;
}

.login_items input[type=text] {
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
}

.login_items input[type=password] {
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
}

.login_items input[type=submit] {
    width: 90px;
    height: 28px;
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    border:0 none;
    cursor:pointer;
    margin-left: 10px;
}

.login_items span{
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 2px;
}

.login_items a{
    color: brown;
}

.logo{
    width: 300px;
    height: 200px;
    
}
.slogan{
/*    background-color: white;*/
    width: 380px;
    height: 150px;
    position: relative;
    float: left;
    left: 90px;
    top: 20px;
}

.big_text{
    color: gray;
    font-size: 80px;
    font-family: Arial;
    color: black;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.little_text{
    color: gray;
    font-size: 18px;
    color: black;
    position: relative;
    text-align: center;

}

.home_pierdut{
    width: 700px;
    height: 60px;
/*    background-color: black;*/
    position: relative;
    top: 150px;
}

a{
    text-decoration: none;
    color: white;
}

.home_pierdut:hover{
    background-color: black;
}

.home_pierdut span{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    left: 100px;
}

.home_gasit{
    width: 700px;
    height: 60px;
    position: relative;
    float: right;
    top: 238px;
}

.home_gasit:hover{
    background-color: black;
}

.home_gasit span{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    left: 100px;
}

.form{
    width: 560px;
    margin: auto;
    
}

.form input[type=text] {
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
    text-align: right;
    position: relative;
    float: right;
}

.form input[type=password] {
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
    text-align: right;
    position: relative;
    float: right;
}

.form input[type=date] {
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
    text-align: right;
    position: relative;
    float: right;
}

.form input[type=submit] {
    width: 400px;
    height: 30px;
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    border:0 none;
    cursor:pointer;
    margin-left: 100px;
    margin-bottom: 10px;
}

.form span{
    position: relative;
    top: 7px;
    font-size: 15px;
}

.form h1{
    color: gray;
    padding-top: 10px;
    text-align: center;
}

.form select{
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
    text-align: right;
    position: relative;
    float: right;
}

.form textarea{
        padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
    text-align: right;
    position: relative;
    float: right;
}

.search_form{
    margin: auto;
    width: 80%;
    
}

.search_form h1{
    color: gray;
    padding-top: 10px;
    text-align: center;
}

.search_container{
/*    background-color: yellow;*/
    border-style: solid;
    border-width: 2px;
    height: 280px;
    width: 24%;
    display: inline-block;
    margin-top: 10px;
}

.search_img{
    width: 100%;
    height: 150px;
    background-color: green;
}

.search_infos{
/*    background-color: pink;*/
    width: 100%;
    height: 95px;
    font-size: 15px;
    padding-top: 5px;
    margin-left: 5px;
}

.search_infos span{
    margin: 0px;
    font-weight: bold;
}

.search_left{
    width: 50%;
    float: left;
    height: 30px;
    background-color: aqua;
}


.search_left input[type=submit] {
    width: 100%;
    height: 30px;
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    border:0 none;
    cursor: pointer;
}

.search_right{
    width: 50%;
    float: right;
    height: 30px;
    background-color: brown; 
    color: white;
}

.search_right a{
    font-size: 14px;
    position: relative;
    top: 7px;
    left: 10px;
}

.ob_field{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.ob_contact{
    color: black;
    font-weight: bold;
}

.ob_contact_username{
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    position: relative;
    bottom: 10px;
}

.ob_contact_pm{
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    position: relative;
    bottom: 10px;
}

.ob_contact input[type=submit] {
    width: 200px;
    height: 30px;
    padding:5px 15px; 
    color: white;
    background:#5e2323; 
    border:0 none;
    cursor: pointer;
}

.search_ob_contact{
    position: relative;
    float: right;
    right: 30px;
    bottom: 100px;
}

.admin_container{
/*    background-color: yellow;*/
    margin: auto;
    width: 80%;
/*    border: solid;*/
}

.admin_button_one{
    background-color: rosybrown;
    float: left;
    width: 50%;
    height: 200px;
    margin: auto;
    border-style: solid;
    border: 1px;
    
}

.admin_generate_one{
    background-color: deepskyblue;
    float: left;
    width: 50%;
    margin: auto;
    border-style: solid;
    border: 1px;
    margin-top: 20px;
    
}

.admin_generate_two{
    background-color: skyblue;
    float: right;
    width: 50%;
    margin: auto;
    border-style: solid;
    border: 1px;
    margin-top: 20px;
    
}

.admin_button_two{
    background-color: burlywood;
    float: right;
    width: 50%;
    height: 200px;
    margin: auto;
}

.admin_button_three{
    background-color: saddlebrown;
    float: right;
    width: 50%;
    height: 200px;
    margin-top: 200px;
    margin: auto;
}

.admin_button_four{
    background-color: sandybrown;
    float: left;
    width: 50%;
    height: 200px;
    margin-top: 200px;
    margin: auto;
}

.admin_upside{
/*    background-color: red;*/
    position: relative;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: bold;
    color: lightgray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.admin_downside{
    position: absolute;
    font-size: 100px;
    margin: 10px;
    margin-top: 90px;
    color: lightgray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.admin_downside_s{
    position: absolute;
    font-size: 60px;
    margin: 10px;
    margin-top: 120px;
    color: lightgray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.message_eroare{
    color: red;
}

.reply{
    width: 560px;
    margin: auto;
}

.reply textarea{
    width: 100%;
    margin: auto;
    padding: 5px 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #5e2323;
}

.reply input[type=submit] {
    width: 100%;
    height: 30px;
    padding: 5px 15px; 
    color: white;
    background:#5e2323; 
    border:0 none;
    cursor:pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.date{
    font-size: 10px;
    position: relative;
    float: right;
    color: gray;
}

#spoiler{
    background-color: black;
    color: white;
    font-size: 14px;
    position: absolute;
    float: right;
}

#spoiler span{
    font-weight: bold;
}